.Selectable
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #c7f08f !important;
}

.Selectable .DayPicker-Day {
  border-radius: 0 !important;
  padding: 1rem 0.9rem !important;
  font-family: 'Heebo', 'Helvetica', sans-serif !important;
  font-weight: 200;
  color: #555555 !important;
  font-size: 1rem;
}
.Selectable .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  background-color: #79bd1a;
  color: #fff !important;
}
.Selectable .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  background-color: #79bd1a !important;
  color: #fff !important;
}
.Selectable .DayPicker-Caption > div {
  font-family: 'Heebo', 'Helvetica', sans-serif !important;
  font-weight: 200 !important;
  color: #555555 !important;
}

.Selectable .DayPicker-Caption {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 2px solid #b5b5b5;
}

.Selectable .DayPicker-Weekday {
  font-family: 'Heebo', 'Helvetica', sans-serif !important;
  font-weight: 400 !important;
  color: #b5b5b5;
  padding-bottom: 1rem !important;
}

.Selectable .DayPicker-Weekdays .DayPicker-WeekdaysRow {
  border-bottom: 2px solid #b5b5b5;
}

.Selectable .DayPicker-NavButton {
  right: 0.5rem !important;
}

.Selectable .DayPicker-Month {
  margin: 0 !important;
}

.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--end) {
  background-color: #79bd1a !important;
}
