.input-range__slider {
  appearance: none;
  background: #fff;
  border: 4px solid #f98100;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1.5rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: -3px;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1.5rem;
}
.input-range__slider:active {
  transform: scale(1.3);
}
.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}
.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label-container {
  display: none;
}

/* .input-range__label {
  color: #aaaaaa;
  font-family: 'Helvetica Neue', san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap;
} */

.input-range__label--min,
.input-range__label--max {
  /* bottom: -1.4rem; */
  position: absolute;
  display: none !important;
}


/* .input-range__label--value {
  position: absolute;
  top: -1.8rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
  display: none;
} */

.input-range__label--max .input-range__label-container {
  display: block;
  /* left: 50%; */
  /* font-family: 'Heebo', 'Helvetica', sans-serif;
  font-size: 22px;
  color: rgba(249, 129, 0, 0.47);
  letter-spacing: 2.5px; */
}

.input-range__label--min .input-range__label-container {
  display: block;
  /* font-family: 'Heebo', 'Helvetica', sans-serif;
  font-size: 22px;
  color: rgba(249, 129, 0, 0.47);
  letter-spacing: 2.5px; */
}

/* .input-range__label--min::before {
  content: 'Min';
  margin-left: -29px;
  padding-bottom: 4px;
  display: block;
}

.input-range__label--max::before {
  content: 'Max';
  margin-left: 53px;
  padding-bottom: 4px;
  display: inline-block;
  transform: translateX(32px);
} */

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}
.input-range--disabled .input-range__track {
  background: #eeeeee;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: #f98100;
}

.input-range {
  height: 1rem;
  position: relative;
  width: 92%;
  margin: 7px;
}
